page-about {
    h1 {
        color: #2196F3;
    }
    h2 {
        color: #0a0916;
    }
    h3 {
        color: #000000;
    }
    h3.wp {
        color: #000000;
        line-height: 48px;
        display: flex;
    }
}