<!--
  Generated template for the PropertyEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{property.id}}</ion-title>
  </ion-navbar>

</ion-header>

<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <ion-spinner></ion-spinner>
  </div>
</div>

<ion-content class="darkbackground background">


  <div class="images-container">
        
        <div *ngIf="!property.picture_path && !galleryPhoto" class="divNewImage">
            <div class="newImageCenteredIcon">
                <ion-icon name="camera"  (click)="takeCameraPicture()"></ion-icon>
            </div>
            <div class="newImageActions">
                <ion-grid>
                    <ion-row align-items-center>                      
                        <ion-col col-4 text-center>
                            <button ion-button icon-only class="button-link" color="colorTextGrey" (click)="takeCameraPicture()">
                                <ion-icon name="images"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
         

        <div *ngIf="property.picture_path" class="divOldImage">
            <ion-grid>
                <div class="oldImageCentered">
                    <ion-row align-items-center>
                        <img src="{{property.picture_path}}">
                    </ion-row>
                    <div class="oldImageActions">
                        <ion-grid>
                            <ion-row align-items-center>
                                <ion-col col-4></ion-col>
                                <ion-col col-4 text-center>
                                </ion-col>
                                <ion-col col-4 text-center>
                                    <button ion-button icon-only class="button-link" color="colorTextGrey" (click)="deleteOldImage()">
                                        <ion-icon name="trash"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </ion-grid>
        </div>
          
  
        <div *ngIf="galleryPhoto" class="divGalleryPhoto">
            <ion-grid>
                <div class="newGalleryCentered">
                    <ion-row align-items-center>
                        <img [src]=galleryPhoto *ngIf="galleryPhoto" />
                    </ion-row>
                    <div class="newGalleryActions">
                        <ion-grid>
                            <ion-row align-items-center>
                                <ion-col col-4></ion-col>
                                <ion-col col-4 text-center>
                                </ion-col>
                                <ion-col col-4 text-center>
                                    <button ion-button icon-only class="button-link" color="colorTextGrey" (click)="deletePhoto()">
                                        <ion-icon name="trash"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </ion-grid>
        </div>
  </div>

  
  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-list>



      <ion-item>
        <ion-label stacked>Referencia:</ion-label>
        <ion-input class="ion-input-trans" formControlName="ref" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Título *:</ion-label>
        <ion-input class="ion-input-trans" formControlName="pro_name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Dirección:</ion-label>
        <ion-input class="ion-input-trans" formControlName="address" type="text"></ion-input>
      </ion-item>

      <ion-label stacked>Categoría *:</ion-label>
      <ion-item class="ion-item-trans">
        <ion-label>Categoría</ion-label>
        <ion-select formControlName="categoryIds" multiple="true" [compareWith]="compareWithCategories" [(ngModel)]="categoryIdsArray">
          <ion-option *ngFor="let category of categories" [value]="category">{{category.category_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-label stacked>Ciudad *:</ion-label>
      <ion-item class="ion-item-trans">
        <ion-label>Ciudad</ion-label>
        <ion-select formControlName="city">
          <ion-option *ngFor="let ciudad of ciudades" [value]="ciudad.city_id">{{ciudad.city_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-label stacked>Tipo *:</ion-label>
      <ion-row radio-group formControlName="pro_type" class="ion-row-trans">
        <ion-col>
          <ion-item>
            <ion-label>Venta</ion-label>
            <ion-radio value="1" [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Alquiler</ion-label>
            <ion-radio value="3" [value]="3"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Dormitorios *:</ion-label>
              <ion-input class="ion-input-trans" formControlName="bath_room" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>Baños *:</ion-label>
              <ion-input class="ion-input-trans" formControlName="bed_room" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>Ambientes *:</ion-label>
              <ion-input class="ion-input-trans" formControlName="rooms" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        </ion-grid>

      
      
      

      <ion-label stacked>Moneda:</ion-label>
      <ion-item class="ion-item-trans">
        <ion-label>Moneda</ion-label>
        <ion-select formControlName="curr">
          <ion-option value="1">$</ion-option>
          <ion-option value="57">u$s</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label stacked>Precio:</ion-label>
        <ion-input class="ion-input-trans" formControlName="price" type="number"></ion-input>
      </ion-item>

      <ion-label stacked>Garage:</ion-label>
      <ion-row radio-group formControlName="parking" class="ion-row-trans">
        <ion-col>
          <ion-item>
            <ion-label>Garage</ion-label>
            <ion-radio value="2" [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Sin garage</ion-label>
            <ion-radio value="1" [value]="0"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label stacked>Descripcion *:</ion-label>
        <ion-textarea class="ion-textarea-trans" formControlName="pro_small_desc" placeholder="Descripcion"></ion-textarea>
      </ion-item>

      <ion-label stacked>Publicar *:</ion-label>
      <ion-row radio-group formControlName="published" class="ion-row-trans">
        <ion-col>
          <ion-item>
            <ion-label>Ocultar</ion-label>
            <ion-radio value="0" [value]="0"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Publicar</ion-label>
            <ion-radio value="1" [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-item>
        <ion-label stacked>Los campos marcados con * son obligatorios.</ion-label>
        </ion-item>

    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Guardar</button>
    </div>

  </form>
</ion-content>