<!--
  Generated template for the PropertyEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>property-edit</ion-title>
  </ion-navbar>

</ion-header>

<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <ion-spinner></ion-spinner>
  </div>
</div>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <ion-list>


      <ion-item>
        <ion-label stacked>Imagen:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked>Referencia:</ion-label>
        <ion-input formControlName="ref" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Título:</ion-label>
        <ion-input formControlName="pro_name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Dirección:</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select formControlName="category_id">
          <ion-option *ngFor="let category of categories" [value]="category.id">{{category.category_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-select formControlName="city">
          <ion-option *ngFor="let ciudad of ciudades" [value]="ciudad.city_id">{{ciudad.city_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-row radio-group formControlName="pro_type">
        <ion-col>
          <ion-item>
            <ion-label>Venta</ion-label>
            <ion-radio value="1" [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Alquiler</ion-label>
            <ion-radio value="3" [value]="3"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label stacked>Dormitorios:</ion-label>
        <ion-input formControlName="bath_room" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Baños:</ion-label>
        <ion-input formControlName="bed_room" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Ambientes:</ion-label>
        <ion-input formControlName="rooms" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Moneda</ion-label>
        <ion-select formControlName="curr">
          <ion-option value="1">$</ion-option>
          <ion-option value="57">u$s</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label stacked>Precio:</ion-label>
        <ion-input formControlName="price" type="number"></ion-input>
      </ion-item>

      <ion-row radio-group formControlName="parking">
        <ion-col>
          <ion-item>
            <ion-label>Garage</ion-label>
            <ion-radio value="2" [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Sin garage</ion-label>
            <ion-radio value="1" [value]="0"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-textarea formControlName="pro_small_desc" placeholder="Descripcion"></ion-textarea>
      </ion-item>

      <ion-row radio-group formControlName="published">
        <ion-col>
          <ion-item>
            <ion-label>Ocultar</ion-label>
            <ion-radio value="2" [value]="2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Publicar</ion-label>
            <ion-radio value="1" [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>




    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Guardar</button>
    </div>
  </form>
</ion-content>