<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Mi Inmobiliaria</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>	

    <div *ngIf="showSplash" class="splash">
        <div class="spinner">
          <ion-spinner></ion-spinner>
        </div>
      </div>

  <ion-list>
      <ion-item-divider color="dark">Propiedades / Consultas
          <p item-end> 
              <ion-badge item-end>{{agentTotals.totalPropiedades}}</ion-badge>
            <ion-badge item-end color="verdeWhatsapp">{{agentTotals.totalWhatsapps}}</ion-badge> </p>
      </ion-item-divider>
    <ion-item *ngFor="let property of myProperties" (click)="navToPropertyPage($event, property)" 
    [ngClass]="{'despublicada':property.published==0}">
       
      <ion-thumbnail item-start>  
        <img src="http://inmobiliaria.diportal.com.ar/images/osproperty/properties/{{property.id}}/medium/{{property.image}}" />
      </ion-thumbnail>
      <p>Ref: {{property.ref}}</p>
      <p>{{property.pro_name}}</p>
      <p>{{getPropertiesWhatsappsById(property.id)}}</p>
      <ion-badge item-end color="verdeWhatsapp">{{getPropertiesWhatsappsById(property.id)}}</ion-badge>
      
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
      <button ion-fab (click)="addProperty()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
