<!--
  Generated template for the ModalSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Filtros
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!--
      <form (ngSubmit)="onSubmitSaveFilters(filterDataForm)" #filterDataForm="ngForm">

       
      <ion-list>
          <ion-item class="ion-item-input-trans">
              <ion-label>Categoría</ion-label>
              <ion-select [(ngModel)]="filtro.categories" multiple="true" #categories="ngModel" name="categories"
                  required>
                  <ion-option *ngFor="let category of allCategories" [value]="category.id">{{category.category_name}}</ion-option>
              </ion-select>
          </ion-item>
      </ion-list>

      <ion-list>
          <ion-item class="ion-item-input-trans">
              <ion-label>Ciudad</ion-label>
              <ion-select [(ngModel)]="filtro.cities" multiple="true" #cities="ngModel" name="cities"
                  required>
                  <ion-option *ngFor="let city of allCities" [value]="city.city_id">{{city.city_name}}</ion-option>
              </ion-select>
          </ion-item>
      </ion-list>
   
      <div class="boton-buscar">
          <ion-item text-center>
              <button class="button-action" ion-button block color="verdeDaniel" (click)="dismiss()">APLICAR</button>
          </ion-item>
      </div>
</form>
 -->
<ion-content class="darkbackground padding-8">
  <ion-grid>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-4>
        <button [ngClass]="{'active':typeSelected==3}" (click)="setType('3')" ion-button block>ALQUILER</button>
      </ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-4>
        <button [ngClass]="{'active':typeSelected==1}" (click)="setType('1')" ion-button block>VENTA</button>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>



  <div class="title">TIPO DE PROPIEDAD</div>
  <div class="listado">
    <ion-list>
      <ion-item *ngFor="let category of categories">
        <ion-label class="font-18" (click)="toggleCategoryLabel(category)">{{category.category_name}}</ion-label>
        <ion-toggle color="verde" (ngModelChange)="toggleCategory(category)" [(ngModel)]="category.isAssigned"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
  <div class="title">LOCALIDADES</div>
  <div class="listado">
    <ion-list>
      <ion-item *ngFor="let city of cities">
        <ion-label class="font-18" (click)="toggleCityLabel(city)">{{city.city_name}}</ion-label>
        <ion-toggle color="verde" (ngModelChange)="toggleCity(city)" [(ngModel)]="city.isAssigned"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div class="title">AMBIENTES</div>

        <ion-item class="ambientes">
          <ion-label>{{ambientesValue}}</ion-label>
          <ion-range min="0" max="9" step="1" snaps="true" [(ngModel)]="ambientesValue" (ionChange)="changeAmbientes()"></ion-range>
        </ion-item>


      </ion-col>

      <ion-col col-6>
        <div class="title">DORMITORIOS</div>

        <ion-item class="dormitorios">
          <ion-label>{{dormitoriosValue}}</ion-label>
          <ion-range min="0" max="9" step="1" snaps="true" [(ngModel)]="dormitoriosValue" (ionChange)="changeDormitorios()"></ion-range>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="title">PRECIO</div>

  <ion-item class="padding-16" *ngIf="typeSelected==1">
    <ion-label>u$s{{priceRangeValue.lower}} - u$s{{priceRangeValue.upper}}</ion-label>
    <ion-range dualKnobs="true" min="50000" max="800000" step="1000" [(ngModel)]="priceRangeValue" (ionChange)="changePrice()"></ion-range>
  </ion-item>


  <ion-item class="padding-16" *ngIf="typeSelected==3">
    <ion-label>${{alquilerRangeValue.lower}} - ${{alquilerRangeValue.upper}}</ion-label>
    <ion-range dualKnobs="true" min="5000" max="35000" step="100" [(ngModel)]="alquilerRangeValue" (ionChange)="changeAlquilerPrice()"></ion-range>
  </ion-item>




  <p><br></p>
  <p><br></p>
  <p><br></p>


</ion-content>
<div class="boton-buscar">
  <ion-item text-center>
    <button class="button-action" ion-button block color="verdeDaniel" (click)="dismiss()">APLICAR</button>
  </ion-item>
</div>