page-modal-search {
    .boton-buscar {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: none;
    }    
    .boton-buscar .item {
        background: none;
    }
    .title {
        padding: .4rem 0;
        text-align: center;
        color: #fff;
    }
    .listado {
        background: #2196F3;
        height: 110px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .listado .item {
        background: none;
    }
    .listado .item .label {
        color: #fff;
    }
    .label-md {
        margin: 3px 8px 3px 0;
    }
    .item-md .toggle-md {
        padding: 4px 8px 4px 16px;
    }
    .toggle-md.toggle-checked .toggle-inner {
        background-color: #00A76C;
    }
    .grid {
        padding: 0;
    }
    .col {
        padding: 0;
    }
    .item-md.item-block .item-inner {
        border: none;
    }
    .range-md {
        padding: 0;
    }
}
