page-home {
    .bg-image{
        background: url('../assets/imgs/inicioFondo.jpg') no-repeat center center;

    }
    .home-logo {
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        /*width: 50%;*/
        height: 35vh;
        text-align: center;
        background: url('../assets/imgs/home-logo.png') no-repeat center center;
        background-size: 100%;
        background-size: contain;  
    }
    button.seleccione {
        background-color: rgba(26, 24, 24, 0.6);        
        padding: 6vh;
        width: 100%;
        max-width: 300px;
        margin-top: 1vh;
        font-size: 2rem;
    }
    .button span {
       color: #fff;
    }
}
