page-cupones {
    .offer-list-card {
        border-radius: 10px;
        background: #10191E;
      }
      .offer-list-card-img {
        position: relative;
      }
      .offer-list-price {
        color: #fff;
      }
      .offer-list-title {
        color: #fff;
      }
      .offer-list-discount {
        background: #FD0000;
        color: #fff;
        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: 50%;
        font-size: 2rem;
        padding: 25px 0;
        text-align: center;
        width: 80px;
        height: 80px;
      }
      .darkbackground p{
        color: #fff;
      }
      .offer-list-icon-whatsapp {
        position: absolute;
       bottom: -24px;
       right: 1rem;
      }
    /*.grid-bottom {
        background-color: #ff6900;
        font-weight: 500;
    }
    .old-price {    
        text-decoration: line-through;
    }
    .text-white {
        color: #fff;
    }   
    .title-container {
        position:relative;
    }
    .offer-list-distance {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: #fff;
    }
    .offer-list-icon-whatsapp {
        z-index: 999;
    }
    .dosporuno {        
    font-size: 3rem;
    padding: 17px 0;
    }*/
}
