page-property {
    ion-slides {
        height: auto;
    }
    .slides {
        height: auto;
    }    
    .property-top-slide {
        position: relative;
    }    
    #map_property {
        width: 100%;
        height: 80%;
        margin-top: 2rem;
    }
}