page-property {
    ion-slides {
        height: auto;
    }
    .slides {
        height: auto;
    }    
    .property-top-slide {
        position: relative;
    }    
    
    .parafondo.darkbackground {
        background: #263134;
        float: left;
        width: 100%;
    }
    .property-map-card {        
        margin: 0; 
        border-radius: 0;
        width: 100%!important; 
    }
    .icono-whatsapp-after-inmobiliaria {
        margin-top: 1rem;
    }
    .video-container {

    }
    .map_property {
        width: 100%; 
        height: 400px;
    }
    .map_property-hide {
        height: 1px;;
    }
}