<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi Hogar</ion-title>
  </ion-navbar>
</ion-header>

<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <ion-spinner></ion-spinner>
  </div>
</div>

<div class="topfilters" *ngIf="filtrosAplicados">
  <ion-scroll scrollX="true" style="height: 50px">
    <div style="height: 50px;" class="pattern1">
      <div class="properties-list-filtros">
        <div class="filtro typeSelected" *ngIf="typeSelected" (click)="eliminarFiltro('typeSelected',typeSelected)">
          <span *ngIf="typeSelected==3">Alquiler</span> <span *ngIf="typeSelected==1">Venta</span> <span class="cerrar">
            -</span>
        </div>
        <div class="filtro agentFiltered" *ngIf="agentSelected" (click)="eliminarFiltro('agentFiltered',agentFiltered)">
          <span>{{agentFiltered.agent_name}}</span> <span class="cerrar"> -</span>
        </div>
        <div class="filtro citiesFiltered" *ngFor="let city of citiesFiltered" (click)="eliminarFiltro('city',city)">
          <span>{{ciudadesById[city].city_name}}</span> <span class="cerrar"> -</span>
        </div>
        <div class="filtro categoriesFiltered" *ngFor="let category of categoriesFiltered" (click)="eliminarFiltro('category',category)">
          <span>{{categoriasById[category].category_name}}</span> <span class="cerrar"> -</span>
        </div>
        <div class="filtro ambientesValue" *ngIf="ambientesValue" (click)="eliminarFiltro('ambientesValue',ambientesValue)">
          <span>{{ambientesValue}}</span> ambiente<span *ngIf="ambientesValue>1">s</span> <span class="cerrar"> -</span>
        </div>
        <div class="filtro dormitoriosValue" *ngIf="dormitoriosValue" (click)="eliminarFiltro('dormitoriosValue',dormitoriosValue)">
          <span>{{dormitoriosValue}}</span> dormitorio<span *ngIf="dormitoriosValue>1">s</span> <span class="cerrar"> -</span>
        </div>
        <div class="filtro priceRangeValueApplied" *ngIf="priceRangeValueApplied" (click)="eliminarFiltro('priceRangeValue',priceRangeValue)">
          <span *ngIf="priceRangeValue.lower!=50000 && priceRangeValue.upper==200000">desde</span>
          <span *ngIf="priceRangeValue.lower!=50000">u$s{{priceRangeValue.lower}}</span>
          <span *ngIf="priceRangeValue.upper!=200000"> hasta </span>
          <span *ngIf="priceRangeValue.upper!=200000">u$s{{priceRangeValue.upper}}</span> <span class="cerrar"> -</span>
        </div>
        <div class="filtro alquilerRangeValueApplied" *ngIf="alquilerRangeValueApplied" (click)="eliminarFiltro('alquilerRangeValue',alquilerRangeValue)">
          <span *ngIf="alquilerRangeValue.lower!=50000 && alquilerRangeValue.upper==200000">desde</span>
          <span *ngIf="alquilerRangeValue.lower!=50000">u$s{{alquilerRangeValue.lower}}</span>
          <span *ngIf="alquilerRangeValue.upper!=200000"> hasta </span>
          <span *ngIf="alquilerRangeValue.upper!=200000">u$s{{alquilerRangeValue.upper}}</span> <span class="cerrar"> -</span>
        </div>
      </div>
    </div>
  </ion-scroll>
</div>
<ion-content class="ion-content-1rem darkbackground">

  <div class="filtrosAplicados" *ngIf="filtrosAplicados"></div>
  <div class="filtrosNoAplicados" *ngIf="!filtrosAplicados"></div>

  <ion-card *ngFor="let property of items" class="offer-list-card">

    <div class="offer-list-card-img">

      <a (click)="navToPropertyPage($event, property)">
        <img src="http://diportal.com.ar/images/osproperty/properties/{{property.id}}/medium/{{property.image}}" />
      </a>

      <div class="offer-list-icon-whatsapp">
        <ion-icon float-right>
          <a target="_blank" (click)="increaseWhatsappClick(property)">
            <img src="assets/imgs/whatsappicon.png">
          </a>
        </ion-icon>
      </div>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{property.city_name}}
      </ion-card-title>

      <p>{{property.category_name}}</p>
      <ion-item class="item-price">

        <span *ngIf="property.rooms>0">{{property.rooms}} Ambientes</span>

        <ion-badge item-end class="badge-price" *ngIf="property.price>0">
          <span>{{property.moneda}} {{property.price}}</span>
        </ion-badge>

      </ion-item>

    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más propiedades...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<div class="boton-buscar">
  <ion-item text-center>
    <button class="button-action" ion-button block color="verdeDaniel" (click)="presentModal()">
      <div>BUSCAR</div>
    </button>
  </ion-item>
</div>